@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --green: hsla(160, 100%, 37%, 1);
  --background-color: #1A1A1A;
  --secondary-txt: #d9d9d9;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #1A1A1A;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #303030;
  border-radius: 10px;
}

p {
  cursor: default;
}

#app {
  color: hsla(160, 100%, 37%, 1);
}